version: "3"
services:
  freshrss:
    image: freshrss/freshrss:edge
    container_name: freshrss
    restart: always
    logging:
      options:
        max-size: 10m
    volumes:
      # Recommended volume for FreshRSS persistent data such as configuration and SQLite databases
      - {{ rss_home }}/data:/var/www/FreshRSS/data
      # Optional volume for storing third-party extensions
      - {{ rss_home }}/extensions:/var/www/FreshRSS/extensions
    ports:
      # If you want to open a port 8080 on the local machine:
      - 30082:80
    environment:
      # A timezone http://php.net/timezones (default is UTC)
      TZ: America/Vancouver

  rssbot:
    build:
      context: .
      dockerfile: ./Dockerfile.rssbot
    container_name: ttrss_rssbot
    restart: always
    environment:
      - TOKEN={{ lookup('aws_ssm', '/jinwei-me/tgbot/token') }}
