version: '3'
services:
    ledger:
        image: {{ bean_image }}:{{ bean_image_tag }}
        container_name: ledger
        restart: always
        ports:
          - 30082:8081
          - 30083:8080
