body {
  background: rgba(21, 32, 46, 1);
  text-align: center;
}

.logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 385px;
  height: 125px;
  margin-left: -192.5px;
  background: url(/images/logo.png);
  background-size: 100%;
  opacity: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}
